.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 64px 24px 56px;
  border-bottom-width: 1px;
  border-color: rgb(82 82 91);
  margin-bottom: 16px;
}
.link {
  display: flex;
  align-items: center;
}
.icon {
  font-size: 36px;
  color: rgb(147 197 253);
}

.title {
  font-weight: bold;
  margin-left: 20px;
  font-size: 30px;
}
