.stnManage_upper {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  border-color: black;
}

.icon {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  color: rgb(147 197 253);
  margin-left: 14px;
  margin-bottom: 3px;
}

.stnManage_title {
  margin-left: 20px;
  font-size: 32px;
  font-weight: bold;
}

.editBtn {
  width: 60px;
  height: 35px;
  border-radius: 5px;
  background-color: #ffbe01;
  margin-left: 1020px;
}

.stuList {
}

.stuItems1,
.stuItems2,
.stuItems3,
.stuItems4 {
  display: flex;
}

.stuSeat {
  width: 360px;
  height: 200px;
  border: 1px solid black;
}

.stuSeat_upper {
  display: flex;
  justify-content: space-between;
}

.stuNum {
  padding-left: 5px;
  padding-top: 2px;
}

.stuAtt {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
  margin-top: 5px;
}

.stuSeat_lower {
  text-align: center;
  margin-top: 60px;
}
